<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>La Ferme 2.0</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!--/*/ <th:block th:include="Fragments/headerinc :: head"></th:block> /*/-->

</head>


<body>

	<div class="container">

		<!--/*/ <th:block th:include="Fragments/header :: header"></th:block> /*/-->
	
	   <div class="starter-template">
        <h1>Page utilisateur (Spring Security protected)</h1>

        <h1 th:inline="text">Bonjour [[${#httpServletRequest.remoteUser}]]!</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sortir"/>
        </form>

    </div>
		
	</div>
	<!--/*/ <th:block th:include="Fragments/footer :: footer"></th:block> /*/-->
	
</body>
</html>
